<div class="callout">
  <div class="messages-box">
    <% @messages.each do |message| %>
      <% user_status = message.user_id == current_user.id ? "reciever" : "sender" %>
      <div class="<%= user_status %> callout">
        <p><%= message.body %></p>
        <p><%= message.user.email %> | <%= time_ago_in_words(message.created_at) %></p>
      </div>
    <% end %>
    <%= simple_form_for([@conversation, @message]) do |f| %>
      <%= f.input :body, label: false%>
      <%= f.hidden_field :user_id, value: current_user.id  %>
      <%= f.submit "Add Reply", class: 'button' do %><i class="fa fa-paper-plane"></i><% end %>
    <% end %>
  </div>
</div>
