<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<% if @meeting.notes %>
<p>
  <strong>Notes:</strong>
  <%= @meeting.notes %>
</p>
<% end %>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>
<p>


<%= link_to @meeting, method: :delete, data: {confirm: "Are you sure?"}, remote: true do %><i class="fa fa-trash-o"></i><% end %>
<%= link_to edit_meeting_path(@meeting), remote: true do %><i class="fa fa-pencil-square-o"></i><% end %>
