<div class="row">
  <div id="idea">
    <h2><%= @idea.title %></h2>
    <p><%= @idea.description %></p>
    <p>Author: <%= @idea.user.email %></p>
    <p>Created: <%= time_ago_in_words(@idea.created_at) %> ago</p>
    <%= link_to "Edit Idea", edit_project_idea_path, class: "button" %>
    <%= link_to "Delete", project_idea_path, method: :delete, data: {confirm: "Are you sure?"}, class: "button alert" %>

  </div>
</div>
