<div class="conversations">
  <ul>
    <li>
      <h4>Chats</h4>
    </li>
    <% conversations.each do |conversation| %>
      <% user_status = current_user.id == conversation.sender.id ? conversation.recipient : conversation.sender %>
      <li id="conversation-item_<%= conversation.try(:id) %>" class="<%= 'current-link' if conversation == conversations.first %>">
        <%= gravatar_for(user_status, size: 50) %>
        <%= link_to user_status.email, conversation_messages_path(conversation),
            remote: true,
            class: "conversation-names" %>
        <span class="delete-message"><%= link_to conversation, method: :delete, remote: true do %><i class="fa fa-times"></i><% end %></span>
        <p class='message-preview'><%= truncate(conversation.messages.first.try(:body)) || '---' %></p>
      </li>
      <% subscribe_to conversation_messages_path(conversation) %>
    <% end %>
  </ul>
</div>
