<div class="row">
  <h1>Project Settings</h1>
  <h2><%= @project.title %></h2>

  <%= simple_form_for(@project) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit :Save, class: "button" %>
  <% end %>
</div>
