<div class="projects">
  <div class="banner">
    <div class="row">
      <div class="small-8 columns">
        <h1>PROJECTS</h1>
      </div>
      <div class="small-4 columns">
        <%= link_to "New project", new_project_path, class: "button" %>
      </div>
    </div>
  </div>
  <div class="down-arrow">
  </div>
</div>
<div class="container">
<div class="row">
  <div class="small-12 medium-12 large-8 columns">
    <% @projects.each do |project| %>
    <div class="project-panel">
      <div class="callout primary-project-panel">
        <div class='row'>
          <div class="columns small-9">
            <h4><%= link_to project.title, project %></h4>
            <p>
              <%= link_to project.user.email, project.user %> |
              <time><%= time_ago_in_words(project.created_at) %> ago</time>
              <% if project.help %><span class="alert label">Need help</span><% end %>
            </p>
            <p><%= raw(project.tag_list.map { |t| link_to t, tag_path(t), class: "label"}.join(' ')) %></p>
          </div>

          <div class="columns small-3">
            <div class="callout secondary-project-panel">
              <p><% project.level.times do %>
                <i class="fa fa-star"></i>
                <% end %>
              </p>
              <p>ideas: <%= project.ideas.count %></p>
              <p class="likes-icon" id="project_<%= project.id %>_likes"><%= render 'likes', project: project %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="small-4 columns">
    <div class="callout">
      <h4>Popular tags</h4>
      <div id="tag_cloud">
        <% tag_cloud Project.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
      </div>
    </div>
    <div class="callout">
      <h4>Projects near you</h4>
    </div>
    <div class="callout">
      <h4>Top Users</h4>
      <ul id="top-users">
        <% @users.each do |user| %>
        <li><%= link_to user.email, user_path(user) %>(<%= user.ideas_count %>)</li>
        <% end %>
      </ul>
    </div>
    <% if user_signed_in? %>
    <div class="callout">
      <div class="meetings">
        <h4>Upcoming events</h4>
        <ul>
          <% @meetings.each do |meeting| %>
          <li><%= link_to meeting.name, meeting_path(meeting) %> -
            <%= meeting.start_time.strftime("%b %e/%y %l:%M %P") %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
