<div class="row">
  <div class="small-12 medium-12 large-6 columns">
    <h1>Projects</h1>
    <%= link_to "New project", new_project_path, class: "button" %>
    <table class="actions">
      <thead>
        <tr>
          <th>Project</th>
          <th>Author</th>
          <th>Level</th>
          <th>Date added</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.title, project %></td>
          <td><%= link_to project.user.email, project.user %></td>
          <td><%= project.level %></td>
          <td><%= time_ago_in_words(project.created_at) %> ago</td>
          <td id="project_<%= project.id %>_likes"><%= render partial: 'likes', locals: {project: project} %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
