<div class="projects">
  <%= render 'banner' %>
</div>
<div class="container">
  <div class="row">
    <div class="small-12 medium-12 large-8 columns">
      <%= render "project", project: @project %>
    </div>
    <div class="small-12 large-4 columns">
      <%= render "topusers", users: @users %>
      <%= render "tagcloud" %>
      <%= render 'meetings', meetings: @meetings %>
    </div>
  </div>
</div>
