<div class="title-bar" data-responsive-toggle="site-nav" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="site-nav">
  <div class="container">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">ProjectY</li>
      <% admins_only do %>
        <li><%= link_to "Admin", admin_root_path %></li>
      <% end %>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <% if user_signed_in? %>
      <li data-behavior="notifications" >
        <a href="#" data-behavior="notifications-link"><i class="fa fa-bell"></i><span data-behavior="unread-count"></span></a>
        <ul class="menu">

          <li data-behavior="notification-items"></li>
        </ul>
      </li>

      <li><%= link_to current_user.email, current_user %>
      <ul class="menu">
        <li><%= link_to "Planner", meetings_path %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </ul>
      </li>
      <% else %>
      <li><%= link_to "Sign in", new_user_session_path  %></li>
      <li><%= link_to "Sign up", new_user_registration_path, class: 'button alert' %></li>
      <% end %>
    </ul>
  </div>
</div>
</div>
