<div class="title-bar" data-responsive-toggle="site-nav" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="site-nav">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">ProjectY</li>
      <% admins_only do %>
        <li><%= link_to "Admin", admin_root_path %></li>
      <% end %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Link2" %></li>
      <li><%= link_to "link3" %></li>

    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if user_signed_in? %>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <li><%= link_to current_user.email %></li>
      <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>
